.yearlyReport-picker {
    border-radius: 5px;
    background-color: #E0E1E2;
    color: #5A5A5A;
    border-color: #E0E1E2;
    border: none !important;
    height: 36px !important;
    right: 0 !important;
}

.dateYearly {
    position: absolute;
    right: 0;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
    bottom: 15px;
}

.netTitle {
    font-size: 15px;
    font-weight: 600;
}