**node_modules**
**.venv**
.env
*.env
**/.env
!apps/web/.env
.vscode
.DS_Store
**.terraform*
infra/terraform/*.tfvars
*.pyc
infra/layers/layer-backend.zip
*.serverless
docs/data
apps/web/build
apps/web/dist