.date-picker {
    /* Position should be absolute and float all the way to the left */
    position: absolute;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    bottom: 15px;
}

.home-header {
    padding-bottom: 10px;
    position: relative;
}

.home-picker {
    border-radius: 5px;
    background-color: #E0E1E2;
    color: #5A5A5A;
    border-color: #E0E1E2;
    border: none !important;
    height: 36px !important;
}

.home-header h1 {
    font-size: 35px;
}