.floatingButton {
    /* The button should be fixed in button right corner */
    position: fixed;
    bottom: 25px;
    right: 25px;
    /* The button should be 50px in width and height */
    /* The button should have a border radius of 50% */
    border-radius: 50% !important;
    z-index: 9999999;
}